/* looking for footer and navbar styles*/
@import "./footer.css";
@import "./nav.css";

.contact{
     margin: auto;
    display: flex
;
    align-items: center;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    background-color: aliceblue;
}
/*Here I define the size of the cards and given the property of rotate*/
.contact__card{
    background-color: white;
    width: 765px;
    height: 475px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 50px;
    transition: 0.5s;
    transform: translate(30px, 20px) rotate(5deg);
}
/*Animation to change the rotate of card when is hover*/
.contact__card:hover{
    transition: 0.5s;
    transform: translate(30px, 20px) rotate(0deg);
}
/* Declaring the areas of grid area of text*/
.contact__card h1{
 color: black;
    grid-area: 3 / 1 / 3 / 3;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 37px;
}

/* Declaring the areas of grid area of the image */
.contact__card-img{
    width: 35%;
    border-radius: 100%;
        grid-area: 1 / 1/ 4 / 5;
}

/* Declaring the areas of grid area of text about my phone number*/
.contact__card-phone{
grid-area: 1 / 3/ 2 / 5;
font-size: 1.5rem;
}

/* Declaring the areas of grid area of text about whatsapp*/
.contact__card-wths{
grid-area: 2 / 3/ 3 / 5;
font-size: 1.5rem;
}

/* Declaring the areas of grid area of mail*/
.contact__card-mail{
grid-area: 3 / 3/ 4/ 5;
font-size: 1.5rem;
}

.contac__link-container{
display: flex
;
    justify-content: space-around;
    grid-area: 5 / 1 / 4 / 5;
    align-items: center;
}
a:hover {
  color: #19cdff;
}
/* changing the font size of all text and the size of card */
@media(max-width:480px){
    .contact__card{
                display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 50vh;
        padding: 0;
        transform: translate(0px, 0px) rotate(0deg);
        padding: 15px;
    }
    .contact__card p{
        font-size: 1rem;
        margin: 0;
    }
    .contact__card h1{
        font-size: 2rem;
    }
}
@media  (max-width:768px){
    .contact__card{
            background-color: white;
    width: 604px;
    height: 475px;
    padding: 30px;
    display: grid
;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 50px;
    transition: 0.5s;
    transform: translate(-4px, 20px) rotate(5deg);
    }
}
