/* File of css that I use to name vars and global colors to my page*/
:root{
    --nav-background: #8809a179;
    --page-color:aliceblue;;
    --primary-page-color: #7C358A; 
    --sub-primary-color: #8b4e97;
    --fonts-color: #FFFFFF;
    --black-font-color: black;

}
