/* Import is use to search the others styles and code of styles*/
@import "./global_break_point.css";
@import "./global_fonts.css";
@import "./global_colors.css";
@import "./components/nav.css";
@import "./components/footer.css";

/* font to use in the page*/
@font-face {
  font-family: 'Oswald';
  src: url('./font/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

header{
    display: flex;
    justify-content: center;
    padding: 100px  50px;
    color: var(--black-fonts-color);
    font-size: 3rem;
    animation-duration: 3s;
    animation-name: slide-in;
    
}


* {
 margin: 0px;
 padding: 0px;
}
/* here I define what background color the page will have*/
body{
    background-color: var(--page-color);
}
.home{
    margin: auto;
    width: 90%;
    display: flex
;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
    border: solid gray;
        border-radius: 35px;
    box-shadow: 0 4px 30px #19cdff;
    backdrop-filter: blur(15px);

}
.home__container{
margin: 50px 50px 0px 50px;
}
.home__container-iframe{
    width:  375px;
    height: 581px;
    box-shadow: 0 0 5px #19cdff3d, 0 0 15px #19cdff3f, 0 0 30px #19cdff63, 0 0 50px #19cdff38;;
        border-radius: 20px
}
.home__container-title{
color: var(--black-fonts-color);
font-size: 2rem;
color: var(--sub-primary-color);
font-weight: bold;
padding: 50px 20px 0px 7px;
}
.home__container-title:hover{
     text-shadow: 0 0 5px #7C358A, 0 0 15px #7C358A, 0 0 30px #7C358A, 0 0 50px #7C358A;;
}
.home__container--tecnologies{
color: var(--black-fonts-color);
padding: 20px;
}
 /*Key frames Slide-in is an animationn that I'm using to create a transition in the header*/
@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
/* Here a change some break points of the page to change sizes and make little changes about the cards of home*/
@media(max-width:480px){
  .home{
    display: flex;
    justify-content: center;
  }
  .home__container-iframe{
    width: 100%;
    height: 500px;

  }
  .home__container{
   margin: 20px;
        display: flex
;
        justify-content: center;
        align-content: center;
        flex-direction: column;
  }
  .home__container::after{
    width: 100%;
    height: 2px;
    background-color: gray;
    content: "";
  }
}
/*Here I'm using a hover to change the color of links when the clik is above the tex*/
a:hover {
  color: #19cdff;
}
