
.footer{
    min-width: 100vw;
    height: 70px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    background-color: var(--primary-page-color);
    margin-top:50px;

}
.footer a{
    font-family: 'Oswald', 'Courier New', Courier, monospace;
    text-decoration: none;
    color: var(--fonts-color);
    position: relative;
}
.footer__container-img{
    min-width: 100vw;
    display: grid;
   grid-template-columns: repeat(4, 100px);
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: -60px;
    animation: flow 2s  ease-in-out infinite;
    
}
.footer--img{
    display: grid;
    grid-template-columns: repeat(5 , 100px);
    width: 50px;
    height: 50px;
    border-radius: 100px;
    
}
@keyframes flow {
    0%,100%{
        transform: scale(1.02 );
    }
    50%{
        transform: scale(1.01);
    }
    
}
@media(max-width:480px){
    .footer--img{
    display:flex;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    
}
.footer a{
    font-family: 'Oswald', 'Courier New', Courier, monospace;
    text-decoration: none;
    color: var(--fonts-color);
    position: relative;
    font-size: 10px;
}
.footer{
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    background-color: var(--primary-page-color);

}
}