<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="../assets/styles/components/about.css">
</head>
<nav class="nav">
    <a href="../index.html">Home</a><a href="../components/contact.html">Contact</a><a href="../components/aboutme.html">About Me</a>
   
</nav>
<body>
    <div class="container">
        <h1>About me</h1>
    <section>
        <p>Hi! I'm  Denis Sanchez, a passionate  about  the world of the programming and technology since a was a child, I'm seeking to  collaborate in all kind ogf projects, I'm no afraid of work</p>
        <p>I am Creative, responsible and self-taught Front-End developer with knowledge in HTML/CSS/JavaScript/React.JS</p>
        
    </section>
    <section class="knowledge">
        <h2>Front-End knowledge:</h2>
        <ul>
            <p class="about__skills-p">* HTML5</p>
            <p class="about__skills-p">* Css / Sass / Bootstrap</p>
            <p class="about__skills-p">* JavaScript ES5-ES6</p>
            <p class="about__skills-p">* React / Redux / React-Router</p>
            <p class="about__skills-p">* Bitbucket - Jira</p>
            <p class="about__skills-p">* REST API</p>
            <p class="about__skills-p">* Git - Github</p>
        </ul>
    </section>
    <section>
        <h2>Back-end knowledge:</h2>
        <ul>
            <p>ASP.NET - C#</p>
            <p>SQLServer</p>
            <p>Postgresql</p>
        </ul>
    </section>
    </div>


</body>
</html>