<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../assets/styles/components/contact.css">
</head>
<nav class="nav">
    <a href="../index.html">Home</a><a href="./contact.html">Contact</a><a href="./aboutme.html">About Me</a>
   
</nav>
<body>
 <div class="contact"><div class="contact__card">
        <img  class="contact__card-img" alt="" src="../assets/img/86267586.jpeg">
        <h1>Denis Sanchez</h1>
        <p class="contact__card-phone">Phone: 3205800647</p>
        <p class="contact__card-wths">Whatsapp: (+57)3205800647</p>
        <p class="contact__card-mail">Mail: contact.denis.sanchez@gmail.com</p>
        <div class="contac__link-container">
         <a class="contact__card-pf" href="https://dnis-personal-web-page.firebaseapp.com/">Portfolio</a>
        <a class="contact__card-git" href="https://github.com/DenisV2112">Github</a>
        <a class="contact__card-ln" href="https://co.linkedin.com/in/denisanchez?trk=people-guest_people_search-card">Linkedin</a>
        </div>
        
    </div></div>
    
</body>
<footer class="footer">
    <div class="footer__container-img">
         <img class="footer--img"src="../assets/img/png-transparent-google-mail-gmail-logo-icon.png" alt="Mail Logo">
         <img class="footer--img"src="../assets/img/gratis-png-github-computer-icons-logo-readme-github.png" alt="Github LOgo">
         <img class="footer--img"src="../assets/img/adf239092480ba98990b8b0e39507e.webp" alt=" bLinkedin Logo"> 
         <img class="footer--img"src="../assets/img/code-codewars-kata-hd-wallpaper-preview.jpg" alt=" Codewars Logo">
    </div>
   <a href="">Mail</a>
     <a href="https://github.com/DenisV2112"> Github</a>
    <a href="https://co.linkedin.com/in/denisanchez?trk=people-guest_people_search-card"> Linkeding</a>
     <a href="https://www.codewars.com/users/DenisV2103"> Codewars</a>
</footer>
</html>